// QUESTION_TAG

section#clients {
  height: 500px;
  background: $marketingBackgroundLightGray;
}

section#time {
  background-color: $marketingBackgroundLightGray;
}

section#brand {
  background-color: $marketingBackgroundLightGray;
  img { max-width: 100%; }
}

section#profit {
  background-color: $marketingBackgroundLightGray;
}

section#custom {
  background-color: $marketingBackgroundLightGray;
}

