$mmBlue: #008DED;

$white: #FFF;
$turquoise: #237AAB;
$lightblue: #8BC4CC;
$darkblue: #2D3659;

$marketingBackgroundLightGray: #F0F0F0;
$footerBackgroundBlue: #99AFBA;
$spanLabelBlue: #6B7FA0;

$tryItButtonBackgroundColor: $mmBlue;
$inputBackgroundColor: #6B7FA0;